/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/layout";
@import "compass/css3";


// Colors

$sand: rgb(176,168,131);
$light-sand: lighten($sand, 30%);
// $green: rgb(97,127,102);
$green: rgb(89, 127, 73);
$red: rgb(204,106,97);
$grey: rgb(216,216,216);
$white: rgb(224,224,224);
$trans-white: rgba(255,255,255,0.8);
$trans-sand: rgba(176,168,131,0.7);
$trans-grey: rgba(216,216,216,0.8);
// $trans-green: rgba(97,127,102,0.5);
$trans-green: rgba(89, 127, 73,0.5);
$trans-red: rgba(204,106,97,0.5);

// Settings

$standard-radius: 10px;
$small-radius: 5px;

// Fonts ---------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700);
@import url(http://fonts.googleapis.com/css?family=Bitter);
@import url(http://fonts.googleapis.com/css?family=Lato);

@font-face {
    font-family: 'web_symbolsregular';
    src: url('../fonts/websymbols-regular-webfont.eot');
    src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/websymbols-regular-webfont.woff2') format('woff2'),
         url('../fonts/websymbols-regular-webfont.woff') format('woff'),
         url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('../fonts/websymbols-regular-webfont.svg#web_symbolsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Compass Sticky Footer ------------------------------------

@include sticky-footer( 2em, "#root", "#root-footer", "#main-footer");

// Body ---------------------------------------------------------

body {

	max-width: 1000px;
	min-width: 300px;
	min-height: 340px;
	margin: auto;

	font-family: Lato, Sans-serif;
	font-size: 1em;
}

img {
	max-width: 100%;
}

#root {
	background-image: image_url('hourglass-556x834-2x3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

// Header and Footer for All Pages -----------------------------------------------

header {
	font-family: 'Lobster Two', cursive;
	font-size: 2em;
	font-weight: bold;
	background-color: $trans-grey;
	// border-radius: 5px;
	div {
		padding: 1%;
	}
	.left {
		text-align: left;
	}
	.right {
		font-family: Bitter, Serif;
		font-size: .70em;
		font-weight: bold;
		float: right;
		padding-top: 5px;
		padding-right: 10px;
		padding-left: .5em;
		border-left: solid 1px;
		color: grey;
	}
}

// Footer

footer {
	background-color: $trans-grey;
	//border-radius: 5px;
	text-align: center;

	img {
		height: 88%;
		position: relative;
		top: 8%;
	}
}

// Anchor tags

a {
	color: black;
	text-decoration: none;

}


// Debate style buttons -----------------------------------------------

.between-header-footer {
	margin-left: 2%;
	margin-right: 2%;
}

#debate-style_button_container {
	margin-top: 70px;
	width: 100%;
}

.debate-style-button {
	font-family: Bitter, Serif;
	padding-bottom: .4em;
	padding-top: .4em;
	text-align: center;
	background-color: $trans-sand;
	border-radius: $standard-radius;

	&:hover {
	  @include background-image( radial-gradient(white, $sand));
	}

	h1 {
		font-size: 2.5em;
		display: block;
	}
	h2{
		font-size: 1.5em;
		display: block;
	}
	h3 {
		padding-top: .25em;
		font-size: 1em;
		display: block;
	}

} 


#ld-button {
	margin-bottom: 2%;
}


// Speaker Names -------------------------------------------------------


fieldset {
	border: 1px solid;
	padding: 2%;
	margin: 2%;
	border-radius: $standard-radius;
	background-color: $trans-white;
	legend {
		font-family: Bitter, Serif;
		padding: 2px;
	}
}

label {
	display: inline-block;
	font-family: Bitter, Serif;
	font-weight: bold;
	border: solid 1px #d8d8d8;
	border-radius: $small-radius;
	background-color: white;
	padding: .3em;
}

input {
	display: inline-block;
	border-radius: $small-radius;
	padding: 5px;
	margin: 2px;
	border: none;
	background-color: $light-sand;
	font-size: 1.2em;
	width: 85%;
}

.div-with-header {
	border: 1px solid;
	padding: 5% 2% 2% 2%;
	margin-top: 4%;
	margin-bottom: 2%;
	border-radius: $standard-radius;
	background-color: $trans-white;
	position: relative;
}



.white-header {
	font-family: Bitter, Serif;
	font-weight: bold;
	border: solid 1px #d8d8d8;
	border-radius: $small-radius;
	background-color: white;
	padding: .3em;
	position: absolute;
	top: -.75em;
}




// Classes to allow the input fields to be hidden/shown based on the style.
.style-tp {
}
.style-ld {
	display: none;
}

#button-prev-next-container {
	font-family: Bitter, Serif;
	width: 100%;
	// margin-left: 5%;
	margin-top: 2%;
}

.sand-hover:hover {
	@include background-image( radial-gradient(white, $sand));
}

.button-prev-next {
	font-family: Bitter, Serif;
	font-size: 1.7em;
	padding: .3em;

	// height: 2em;
	text-align: center;
	background-color: $trans-sand;
	border-radius: $standard-radius;
	// padding: .3em;
	display: inline-block;
	cursor: pointer;
}


#button-next{
	width: 70%;
	height: 100%;
	float: left;
	margin-left: 2%;

	&::after {
		content: image_url('glyphicons/png/glyphicons_223_chevron-right.png');
		padding-left: .3em;
		padding-right: .3em;
	}

}

#button-prev {
	width: 15%;
	height: 100%;
	float: left;

	&::before {
		content: image_url('glyphicons/png/glyphicons_224_chevron-left.png');
		padding-left: .3em;
		padding-right: .3em;
	}
}

#button-skip {
	font-family: Bitter, Serif;
	font-size: 1em;
	text-align: center;
	background-color: $trans-sand;
	border-radius: 10px;
	padding: .15em;
	width: 90%;
	cursor: pointer;
	margin-left: 5%;
	margin-top: .5em;
}


// Timer --------------------------------------------------------------------


// Start page items - Headings, Timers, grid

#speech-speaker-header {
	font-size: 1.2em;
	font-weight: bold;
	#speech-heading {
		display: inline-block;
		min-width: 30%;
		text-align: center;
	}
	#speaker-heading {
		display: inline-block;
		width: 63%;
	}
}

#timer-container {
}

// Canvas for the graphic.
#sand-column {
	border: solid 1px;
	width: 20%;
	position: absolute;
	height: 75%;
	bottom: 4%;
	border-radius: $standard-radius;
}


#timer-display {
	width: 100%;
	font-size: 5em;
	display: inline-block;
	text-align: right;
}


#start-stop-button {
	font-family: Bitter, Serif;
	font-size: 2.5rem;
	text-align: center;
	padding: 2%;
	margin-bottom: 2%;
	border-radius: $standard-radius;
}

.start {
	background-color: $trans-green;
	&:hover {
	  @include background-image(radial-gradient(white, $green));
	  cursor: pointer;
	}
}
.stop {
	background-color: $trans-red;
	&:hover {
	  @include background-image(radial-gradient(white, $red));
	  cursor: pointer;
	}
}


.control-buttons {
	font-family: Bitter, Serif; 
	font-size: 1.6rem;
	text-align: center;
	border-radius: $standard-radius;
	display: inline-block;
	padding: 2% 0%;
}

#up-arrow {
	width: 30%;
	// padding: 2% 0%;
	display: none;
}

#down-arrow {
	width: 30%;
	// padding: 2% 0%;
}

#next-speech-button {
	width: 68%;
	// padding: 2% 0;
}

#prev-speech-button {
	width: 100%;
	// padding: 2% 0;
	margin-bottom: 2%;
	// margin-left: 2%;
}

#well-done-image a {
	padding-left: 2%;
	padding-right: 2%;
	margin-top: 2%;
}


table {
	border: solid 1px;
	width: 100%;
	// margin: 2.5%;
	border-radius: 10px;
	td,th {
		text-align: center;
		border-right: solid 1px;
	}
	th {
		background-color: grey;
		font-weight: bold;
	}
	tr {
		border-bottom: solid 1px;
	}
}

#speech-speaker-table {
	display: none;
}

.iconfont {
	font-family: "web_symbolsregular";
}

.active {
	background-color: $trans-sand;
	&:hover {
  		@include background-image(radial-gradient(white, $sand));
  		cursor: pointer;
  	}
}
.inactive {
	background-color: $trans-grey;
}



// Speeches Grid Classes

.completed {
	background-color: $trans-red;
}

.current {
	background-color: $trans-green;

}
.incomplete {
	color: grey;
	background-color: $trans-white;
}


// Well Done border-image
#well-done-image {
	// width: 90%;
	// margin: 0% 5% 5% 5%; // top, right, bottom, left
	// border: solid 1px;
	// // border-radius: 10px;
	background: white;
	img {
		max-width: 100%;
		max-height: 100%;
	}
	display: none;
}

.block {
	display: block;
}


@media screen and (min-width: 320px) {
	#timer-display {
		font-size: 6em;
	}

}

@media screen and (min-width: 360px) {
	#timer-display {
		font-size: 7em;
	}

}

@media screen and (min-width: 480px) {
	header {
		font-size: 2.5em;
	}
	#speech-speaker-header {
		font-size: 2em;
	}
	#timer-display {
		font-size: 10em;
	}

}

@media screen and (min-width: 620px) {
	#speech-speaker-header {
		font-size: 2.5em;
	}

	#timer-display {
		font-size: 12em;
	}

}

@media screen and (min-width: 768px) {
	#timer-display {
		font-size: 15em;
	}

	header {
		font-size: 3em;
	}
	#speech-speaker-header {
		font-size: 3em;
	}

	#start-stop-button {
		font-size: 3rem;
	}
}

@media screen and (min-width: 980px) {
	#timer-display {
		font-size: 20em;
	}

	header {
		font-size: 4em;
	}
	#speech-speaker-header {
		font-size: 3em;
	}
	#start-stop-button {
		font-size: 4rem;
	}
}
